#calendar {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 10px;
}


body html{
  min-height: 100%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 100%;

}

.child {
  flex: 0 0 auto; /* shorthand for flex-grow, flex-shrink, flex-basis */
  max-width: calc(100% / 3); /* or any other fraction of the container width */
}


.column:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background-color: #283C90;
  padding: 20px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  height: 50px;
}

.header img {
  position: static;
  display: block;
  max-height: 140%;
  max-width: 140%;
  margin-left: 70px;
  margin-right: auto;
  border-radius: 50%;
  margin-top: -12px;
}

/* ----------------- calendar configuration-----*/

.column {
  margin-top: 10px;
  padding: 10px;
  float: left;
  margin-left: 15px;
  width: 250px;
  height: auto;
  border: 2px solid;
  border-radius:15px;
  z-index: 0;
}

.column.left2{
  width: 250px;
  height: auto;
  margin-left: -11px;
}

.column.left3{
  width: 250px;
  height: auto;
  margin-left: -11px;
  margin-bottom: -10px;
}

.calendar-mid {
  border: solid black;
  border-radius: 15px;
  padding: 10px;
}

.column.middle{
  z-index: 2;
  margin-left: -10px;
  width: 1345px;
  
  left: 287px;
  top: 110px;
  background: #283C90;
}

.column.right {
  background: white;
  width: 100px;
  height: auto;
  margin-left: -10px;
}

.column.right2 {
  background: white;
  width: 100px;
  height: auto;
  margin-left: -10px;
  margin-bottom: -10px;
}


.calendar {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  
}

.calendar-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.calendar-sidebar-section {
  padding: 2em;
}

.calendar-main {
  flex-grow: 1;
  padding: 3em;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.fc { 
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

.modal {
  width: 400px;
  height: 300px;
  background-color: white;
  display: absolute;
}