body html{
    min-height: 100%;
}

.column:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    background-color: #283C90;
    padding: 20px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    height: 50px;
}

.header img {
    position: static;
    display: block;
    max-height: 140%;
    max-width: 140%;
    margin-left: 70px;
    margin-right: auto;
    border-radius: 50%;
    margin-top: -12px;
}

/* ----------------- calendar configuration-----*/

.column {
    margin-top: 10px;
    padding: 10px;
    float: left;
    margin-left: 15px;
    width: 250px;
    height: auto;
    border: 2px solid;
    border-radius:15px;
    z-index: 0;
}

.column.left2{
    width: 250px;
    height: auto;
    margin-left: -11px;
}

.column.left3{
    width: 250px;
    height: auto;
    margin-left: -11px;
    margin-bottom: -10px;
}

.calendar-mid {
    border: solid black;
    border-radius: 15px;
    padding: 10px;
}

.column.middle{
    z-index: 2;
    margin-left: -10px;
    width: 1345px;
    height: 812px;
    left: 287px;
    top: 110px;
    background: #283C90;
}

.column.right {
    background: white;
    width: 100px;
    height: auto;
    margin-left: -10px;
}

.column.right2 {
    background: white;
    width: 100px;
    height: auto;
    margin-left: -10px;
    margin-bottom: -10px;
}
